<html>
	<head>

	</head>
	<body>
		<br>Site ID:            {{ currentSite.id }}
		<br>Site Handle:        {{ currentSite.handle }}
		<br>Site Name:          {{ currentSite.name }}
		<br>Site Language:      {{ currentSite.language }}
		<br>Is Primary Site?:   {{ currentSite.primary }}
		<br>Base URL:           {{ currentSite.baseUrl }}
		<br>aaa{{ craft.config.env }}
	</body>
</html>

